# Full configuration options can be found at https://www.vaultproject.io/docs/configuration

disable_cache = true
disable_mlock = true
ui = true

storage "file" {
  path = "/opt/vault/data"
}

#storage "consul" {
#  address = "127.0.0.1:8500"
#  path    = "vault"
#}

# HTTP listener
# listener "tcp" {
#   address       = "vault.luyeblog.com:8200"
#   # address = "127.0.0.1:8200"
#   tls_disable = 1
# }

# HTTPS listener
listener "tcp" {
  address       = "{{ vault_domain }}:8200"
  # tls_cert_file = "/opt/vault/tls/tls.crt"
  # tls_key_file  = "/opt/vault/tls/tls.key"
  # --- Letsencrypt/certbot certs
  tls_cert_file = "/etc/letsencrypt/live/{{ vault_domain }}/fullchain.pem"
  tls_key_file  = "/etc/letsencrypt/live/{{ vault_domain }}/privkey.pem"
  # tls_ca_file  = "/etc/letsencrypt/live/vault.luyeblog.com/chain.pem"
  # --- Selfsigned certs
  # tls_cert_file = "/opt/vault/tls/luyeblog.crt"
  # tls_key_file  = "/opt/vault/tls/luyeblog.key"
  #tls_ca_file   = "/opt/vault/tls/luyeblog.pem"
}
api_addr         = "https://{{ vault_domain }}:8200"
# Enterprise license_path
# This will be required for enterprise as of v1.8
#license_path = "/etc/vault.d/vault.hclic"

# Example AWS KMS auto unseal
#seal "awskms" {
#  region = "us-east-1"
#  kms_key_id = "REPLACE-ME"
#}

# Example HSM auto unseal
#seal "pkcs11" {
#  lib            = "/usr/vault/lib/libCryptoki2_64.so"
#  slot           = "0"
#  pin            = "AAAA-BBBB-CCCC-DDDD"
#  key_label      = "vault-hsm-key"
#  hmac_key_label = "vault-hsm-hmac-key"
#}
